
<!DOCTYPE html>
<html lang="en">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>

    .body {
    margin-bottom: 20vh;
    margin-top: 20vh;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <title>Document</title>
</head>
{%include "vehicles/navbar.html"%}
<body>
    <div class="body">
        {%block body%}
        {%endblock%}
    </div>
{% include 'vehicles/footer.html'%}
</body>
</html>