<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">VMS</h5>
          <p class="grey-text text-lighten-4">We Provide Servies Only For You.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com">Facebook</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.whatsapp.com">Whatsapp</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com">Instagram</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.twitter.com">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Text
      </div>
    </div>
  </footer>