  <nav>

          <div class="large nav-wrapper">
              
              <ul id="nav-mobile" class="left offset-s3 hide-on-med-and-down">
                  <li></li>
                  <li><a href="{% url ''%}">Home</a></li>
                  <li><a href="{% url 'customerclick' %}">Customer</a></li>
                  <li><a href="{% url 'mechanicclick' %}">Mechanics</a></li>
                  <li><a href="{% url 'adminlogin'%}">Admin</a></li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'aboutus'%}">About Us</a></li>
                    <li><a href="{% url 'contactus'%}">Contact Us</a></li>
                </ul>
            </div>
  </nav>