{% extends 'vehicles/mechanic/base.html' %}
{%block body%}
<div class="row">
    <div class="col s3 ">
      <div class="card blue darken-1">
        <div class="card-content white-text">
          <span class="card-title"> New Work Assigned</span>
          <h3>{{new_work_assigned}}</h3>
        </div>
      </div>
    </div>
    <div class="col s3 ">
        <div class="card yellow darken-3">
          <div class="card-content white-text">
            <span class="card-title">Work In Progress</span>
            <h3>{{work_in_progress}}</h3>
          </div>
        </div>
      </div>
      <div class="col s3 ">
        <div class="card green darken-1">
          <div class="card-content white-text">
            <span class="card-title">Work Completed</span>
            <h3>{{work_completed}}</h3>
          </div>
        </div>
      </div>
      <div class="col s3 ">
        <div class="card red darken-1">
          <div class="card-content white-text">
            <span class="card-title">Salary</span>
            <h3>{{salary}}</h3>
          </div>
        </div>
      </div>

</div>
{%endblock%} 
