<!DOCTYPE html>
<html lang="en">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<style>

    .body {
    margin-bottom: 20vh;
    margin-top: 20vh;
}
</style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="height=device-height, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="body">
        <div class="center container">
    
            <h1>Hello {{request.user.first_name}}</h1>
            <h3><p class="lead">Your Account is not approved till now <br><br>Our Team is checking your profile <br><br> Soon you will be hired to our Agency</p></h3>
            <div class="divider"></div>
            <h3><p>Check Later</p></h3>
            <div>
                <a class="btn large waves-effect waves-light" href="{%url 'logout'%}" role="button">Logout</a>
            </div>
        </div>
    </div>
{% include 'vehicles/footer.html'%}
</body>
</html>
