{% extends 'vehicles/mechanic/base.html' %}
{%block body%}
<div class="container">
    <h1 class="center">All Requests</h1>
    <table class="striped centered responsive-table yellow lighten-1">
        <thead class="yellow darken-1">
            <tr>
                <th>Vehicle Name</th>
                <th>Category</th>
                <th>Number</th>
                <th>Model</th>
                <th>Brand</th>
                <th>Problem Description</th>
                <th>Status</th>
                <th>Update Status</th>
              </tr>
        </thead>
        
        <tbody>
            {% for w in works %}
            <tr>
                <td> {{w.vehicle_name}}</td>
                <td> {{w.category}}</td>
                <td> {{w.vehicle_no}}</td>
                <td> {{w.vehicle_model}}</td>
                <td> {{w.vehicle_brand}}</td>
                <td> {{w.problem_description}}</td>
                <td>{{w.status}}</td>
                <td><a href="{% url 'mechanic-update-status' w.id  %}" ><i class="material-icons">create    </i></a></td>
                         </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
    {%endblock%} 
    